{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<center>
<h1>Welcome To My Contact Page</h1>
<form name="Contact" method="post" action="">
	{% csrf_token %}
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" name="email"></td>
		</tr>
		<tr>
			<td>Mobile</td>
			<td><input type="text" name="mobile"></td>
		</tr>
		<tr>
			<td>Remarks</td>
			<td><textarea rows="5" cols="21" name="remarks"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="center">
				<input type="submit" name="action" value="SUBMIT" class="btn btn-primary">
			</td>
		</tr>

	</table>
	
</form>
</center>
</body>
</html>
{% endblock %}